@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=PT+Mono";
@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css";

/*@import "Untitled.css";*/
/**
 * Assign width, height x and y positin for each item in the grid, for 4 screen sizes, using only css classes
 *
 * Example calsses for "lg" size:
 *
 * ┌────────────────────────┐┌─────────────┐
 * │       lt-lg-x-0        ││  lt-lg-x-2  │
 * │       lt-lg-y-0        ││  lt-lg-y-0  │
 * │       lt-lg-w-2        ││  lt-lg-w-1  │
 * │       lt-lg-h-1        ││  lt-lg-h-1  │
 * └────────────────────────┘└─────────────┘
 * ┌───────────────────────────────────────┐
 * │               lt-lg-x-0               │
 * │               lt-lg-y-1               │
 * │               lt-lg-w-3               │
 * │               lt-lg-h-1               │
 * └───────────────────────────────────────┘
 */::-webkit-scrollbar{width:0px;}
body {font-family:"PT Mono",sans-serif;font-weight: 900;}
.column{/*background:#ddd;*/text-align: center;}
.columns {
    background: #e8e8e8;
    font-weight: bolder;
    color: white;
}
.transp_b{background:transparent;}



		  .coinhive-captcha {
                  margin-top: 20%;
			  opacity: 0.1;
			  position: absolute;
			  /*left: 202px;*/top: 0px;}
		  .wrap {
                 background: #000;
			  position: absolute;
                        }
		  .wrapp {
  /*background: #999;*/
    border: 1px solid;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 24px;
    top: 23px;
  /*margin-top: 20%;*/
                        }
		 .wrappp {
    background: white;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 54px;
    top: 26px;
  /*margin-top: 20%;*/
    z-index:1;
                        }
		  center.c {
    margin-top: 50px;
    font-weight: 900;
                           }
